@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    width: 90%;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.header_left h1{    
    line-height: 24px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #000;
}
.header_center a{
    text-decoration: none;
    color: #555252;
    font-weight: 500;
    font-size: 20px;
}
.head div{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}